body {
    background-color: #9ED2C6;
    margin: 0;
    text-align: center;
    font-family: 'Lemonada'
}

a {
    text-decoration: none;
}

.real-navbar{
    list-style: none;
    display: inline;

}

.navbar ul li{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 80px 30px 20px;
    float: right;
    font-size: large;
}

.logo {
    position: absolute;
    top: -10px;
}

.img {
    height: 100px;
    
}

.top-cloud {
    height:  130px;
    position: absolute;
    margin-top: -20px;
    /* margin-right: 10px; */
    right: 150px;
}

.title h1 {
    margin-top: 88px;
    text-align: center;
}

.buttom-cloud {
    height: 130px;
    position: absolute;
    margin-left: -300px;
    margin-top: -180px;
    
}

.mountain {
    height: 400px;
}
.top-container {
   
    font-family: 'Lemonada', cursive;
    font-size: 25px;
}

.primary-color {
    color: #704F4F;
    color: #231955 ;
    

}

.secondery-color {
    color:  #A77979;
    color: #2b63c9;
    font-weight: bold;
}

.medieum-container {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    
    
}

.profile-picture {
    margin-top: 70px;
    border-radius: 100%;
    height: 16rem;
}

.my-bio {
    width: 50%;
    margin-left:auto ;
    margin-right: auto;
    font-size: 1.2rem;
}

.secendery-container {
    height: 100vh;
    background-color: #fff
}

.web-dev {
    /* display: inline; */
    height: 100px;
}

.para {
    display: inline;
    width: 30px;
}

.lien {
    width: 10%;
    color: #EAF6F6;
    height: 0;
    border: dotted none none none;
    
}